/logs/*.txt
/logs/*/*.txt
/logs/*/*/*.txt
/logs/*/*/*/*.txt
/logs/*/*/*/*/*.txt
/logs/*/*/*/*/*/*.txt
/logs/*/*/*/*/*/*/*.txt
/logs/*/*/*/*/*/*/*/*.txt
/logs/*.csv
/logs/*/*.csv
/logs/*/*/*.csv
/logs/*/*/*/*.csv
/logs/*/*/*/*/*.csv
/logs/*/*/*/*/*/*.csv
/logs/*/*/*/*/*/*/*.csv
/logs/*/*/*/*/*/*/*/*.csv
/run*.sh
/run*.py
!/run_example.py
/__pycache__/*
/*/__pycache__/*
/*/*/__pycache__/*
/*/*/*/__pycache__/*
/*/*/*/*/__pycache__/*
/*/*/*/*/*/__pycache__/*
/.idea/*
/wandb
/wandb/*
/logs/
/sync/
/sync/*/
/sync/*/*/
/sync/*/*/*/
/sync/*/*/*/*/
/sync/*/*/*/*/*/
/cmds/
/cmds/*/
/cmds/*/*/
/cmds/*/*/*/
/cmds/*/*/*/*/
/cmds/*/*/*/*/*/
aaai23*.zip
*.prof